<div class="row">
    <div class="span6 offset3">
        <div class="well">
			<p>
			  <%= @missionary.missbio %>
			</p>
			<%= link_to 'Edit', edit_missionary_path(@missionary) %> |
			<%= link_to 'Back', missionaries_path %>
		</div>
    </div>
</div>