<div class="row">
	<div class="span6 offset3">
		<div class="well">
		<p>
		  <%= @cause.description %>
		</p>
		<%= link_to 'Edit', edit_cause_path(@cause) %> |
		<%= link_to 'Back', causes_path %>
	</div>
	</div>
</div>