	<div id="footer">
		<div class="container">
			<%= link_to 'HOME',  root_path %> |
		  <%= link_to "CAUSES", causes_path %> |
		  <%= link_to "PEOPLE", missionaries_path %> |
		  <%= link_to 'ABOUT',  about_path %>
  	</div>
	</div>